<div class="col-xs-12 col-md-12">
    <select class=" col-md-3 ruleL" >
        {% for opt in options %}
                    <option >{{opt}}</option>
        {% endfor %}
               </select>
    <select class=" col-md-3 ruleRule">
                    <option >goes above</option>
                      <option >goes below</option>
               </select>
    <select class=" col-md-3 ruleR">
        {% for opt in options %}
                    <option >{{opt}}</option>
        {% endfor %}
               </select>
    <select class=" col-md-3 ruleSignal">
                    <option >BUY</option>
                      <option >SELL</option>
               </select>
</div>